<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">
	
	<!-- user -->
	<bean id="userDao" class="com.tgb.dao.UserDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<bean id="userManagerBase" class="com.tgb.manager.UserManagerImpl">
		<property name="userDao" ref="userDao"></property>
	</bean>
	
	<bean name="userManager" parent="transactionProxy">
		<property name="target" ref="userManagerBase"></property>
	</bean>	
	
	<!-- company -->
	<bean id="companyDao" class="com.tgb.dao.CompanyDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<bean id="companyManagerBase" class="com.tgb.manager.CompanyManagerImpl">
		<property name="companyDao" ref="companyDao"></property>
	</bean>
	
	<bean name="companyManager" parent="transactionProxy">
		<property name="target" ref="companyManagerBase"></property>
	</bean>	
	
	<!-- program skills -->
	<bean id="programSkillsDao" class="com.tgb.dao.ProgramSkillsDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="programSkillsManagerBase" class="com.tgb.manager.ProgramSkillsManagerImpl">
		<property name="programSkillsDao" ref="programSkillsDao"></property>
	</bean>
	
	<bean name="programSkillsManager" parent="transactionProxy">
		<property name="target" ref="programSkillsManagerBase"></property>
	</bean>	
	
	<!-- survey levels -->
	<bean id="surveyLevelsDao" class="com.tgb.dao.SurveyLevelsDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="surveyLevelsManagerBase" class="com.tgb.manager.SurveyLevelsManagerImpl">
		<property name="surveyLevelsDao" ref="surveyLevelsDao"></property>
	</bean>
	
	<bean name="surveyLevelsManager" parent="transactionProxy">
		<property name="target" ref="surveyLevelsManagerBase"></property>
	</bean>	
	
	<!-- program languages -->
	<bean id="programLanguagesDao" class="com.tgb.dao.ProgramLanguagesDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="programLanguagesManagerBase" class="com.tgb.manager.ProgramLanguagesManagerImpl">
		<property name="programLanguagesDao" ref="programLanguagesDao"></property>
	</bean>
	
	<bean name="programLanguagesManager" parent="transactionProxy">
		<property name="target" ref="programLanguagesManagerBase"></property>
	</bean>	
	
	<!-- student -->
	<bean id="studentDao" class="com.tgb.dao.StudentDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="studentManagerBase" class="com.tgb.manager.StudentManagerImpl">
		<property name="studentDao" ref="studentDao"></property>
	</bean>
	
	<bean name="studentManager" parent="transactionProxy">
		<property name="target" ref="studentManagerBase"></property>
	</bean>	
	
	<!-- TableId -->
	<bean id="TableIdDao" class="com.tgb.dao.TableIdDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="TableIdManagerBase" class="com.tgb.manager.TableIdManagerImpl">
		<property name="TableIdDao" ref="TableIdDao"></property>
	</bean>
	
	<bean name="TableIdManager" parent="transactionProxy">
		<property name="target" ref="TableIdManagerBase"></property>
	</bean>	
	
</beans>
